<%= form_with(model: icc_event, local: true) do |form| %>
  <% if icc_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(icc_event.errors.count, "error") %> prohibited this icc_event from being saved:</h2>

      <ul>
      <% icc_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
